/* line 55, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 277, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 285, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 348, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 357, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 367, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 384, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 395, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 412, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 450, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 483, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 502, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 511, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 522, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../scss/style.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

/* line 25, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 29, ../scss/style.scss */
.body {
  height: 500px;
  width: 125px;
  margin: 25px auto;
}
/* line 39, ../scss/style.scss */
.body .head,
.body .arm,
.body .torso,
.body .leg {
  position: absolute;
}
/* line 48, ../scss/style.scss */
.body .leg,
.body .arm,
.body .upper,
.body .lower,
.body .hand {
  -webkit-transform-origin: top;
  transform-origin: top;
}
/* line 53, ../scss/style.scss */
.body .head {
  height: 71.5px;
  width: 71.5px;
  z-index: 9;
  border-radius: 50%;
  margin-left: -5.75px;
  background: lightgreen;
}
/* line 64, ../scss/style.scss */
.body .torso {
  margin-top: 61.5px;
  z-index: 5;
}
/* line 69, ../scss/style.scss */
.body .torso .neck {
  height: 15.015px;
  width: 33px;
  margin-left: 13.5px;
  background: lightgreen;
}
/* line 77, ../scss/style.scss */
.body .torso .t--torso {
  height: 156.585px;
  width: 60px;
  background: lightblue;
}
/* line 84, ../scss/style.scss */
.body .torso .hip {
  height: 42.9px;
  width: 60px;
  border-radius: 0px 0px 30px 30px;
  background: linear-gradient(#add8e6, #add8e6 50%, #d3d3d3 50%, #d3d3d3);
}
/* line 93, ../scss/style.scss */
.body .arm {
  margin-top: 89.00749px;
  margin-left: 15px;
}
/* line 99, ../scss/style.scss */
.body .arm .upper,
.body .arm .lower {
  background: lightblue;
}
/* line 103, ../scss/style.scss */
.body .arm .upper {
  height: 95.625px;
  width: 30px;
}
/* line 108, ../scss/style.scss */
.body .arm .lower {
  height: 95.625px;
  width: 30px;
  border-radius: 12px;
  margin-top: -15px;
}
/* line 116, ../scss/style.scss */
.body .arm .hand {
  height: 31.5px;
  width: 31.5px;
  border-radius: 50%;
  background: lightgreen;
}
/* line 125, ../scss/style.scss */
.body .arm--r {
  z-index: 10;
}
/* line 129, ../scss/style.scss */
.body .arm--r .upper,
.body .arm--r .lower {
  background: #86c5da;
}
/* line 134, ../scss/style.scss */
.body .leg {
  margin-top: 251px;
}
/* line 139, ../scss/style.scss */
.body .leg .upper,
.body .leg .lower {
  width: 48px;
  margin-left: 6px;
  background: lightgrey;
}
/* line 145, ../scss/style.scss */
.body .leg .upper {
  height: 106.1775px;
  border-radius: 0px 0px 24px 24px;
}
/* line 150, ../scss/style.scss */
.body .leg .lower {
  height: 97.5975px;
  margin-top: -24px;
  border-radius: 24px 24px 0px 0px;
}
/* line 156, ../scss/style.scss */
.body .leg .foot {
  height: 30.03px;
  width: 54px;
  position: absolute;
  top: 82.5975px;
  background: darkgrey;
}
/* line 164, ../scss/style.scss */
.body .leg .foot:after {
  content: "";
  width: 0px;
  height: 15.015px;
  position: absolute;
  margin-left: 52px;
  border-top: 15.015px solid transparent;
  border-left: 33.033px solid darkgrey;
}
/* line 177, ../scss/style.scss */
.body .leg--l {
  -webkit-animation: leg 1.72s infinite linear;
  animation: leg 1.72s infinite linear;
}
/* line 183, ../scss/style.scss */
.body .leg--l .upper,
.body .leg--l .lower {
  background: #b9b9b9;
}
/* line 187, ../scss/style.scss */
.body .leg--l .lower {
  -webkit-animation: leg--lower 1.72s infinite linear;
  animation: leg--lower 1.72s infinite linear;
}
/* line 191, ../scss/style.scss */
.body .leg--l .foot {
  background: #8f8f8f;
}
/* line 194, ../scss/style.scss */
.body .leg--l .foot:after {
  border-left: 33.033px solid #8f8f8f;
}
/* line 201, ../scss/style.scss */
.body .leg--r {
  -webkit-animation: leg 1.72s 0.86s infinite linear;
  animation: leg 1.72s 0.86s infinite linear;
}
/* line 208, ../scss/style.scss */
.body .leg--r .lower {
  -webkit-animation: leg--lower 1.72s 0.86s infinite linear;
  animation: leg--lower 1.72s 0.86s infinite linear;
}

@-webkit-keyframes leg {
  /* line 224, ../scss/style.scss */
  0%, 100% {
    -webkit-transform: rotate(-20deg);
  }

  /* line 225, ../scss/style.scss */
  50% {
    -webkit-transform: rotate(20deg);
  }
}

@-webkit-keyframes leg--lower {
  /* line 229, ../scss/style.scss */
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }

  /* line 230, ../scss/style.scss */
  35% {
    -webkit-transform: rotate(0deg);
  }

  /* line 231, ../scss/style.scss */
  50% {
    -webkit-transform: rotate(45deg);
  }

  /* line 232, ../scss/style.scss */
  75% {
    -webkit-transform: rotate(55deg);
  }
}
