/* line 45, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 269, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 277, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 284, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 348, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 357, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 367, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 384, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 395, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 409, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 424, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 434, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 447, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 460, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 483, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 493, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 502, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 511, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 522, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../scss/style.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

/* line 25, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 29, ../scss/style.scss */
.body {
  position: absolute;
  height: 450px;
  width: 112.5px;
  top: .2vh;
  left: 45%;
  transform-style: preserve-3d;
  -webkit-animation: body 1.6s infinite linear;
  animation: body 1.6s infinite linear;
}
/* line 40, ../scss/style.scss */
.body .head,
.body .arm,
.body .torso,
.body .leg {
  position: absolute;
}
/* line 48, ../scss/style.scss */
.body .leg,
.body .arm,
.body .upper,
.body .lower,
.body .hand {
  -webkit-transform-origin: top;
  transform-origin: top;
}
/* line 58, ../scss/style.scss */
.body .head {
  height: 64.35px;
  width: 64.35px;
  z-index: 9;
  border-radius: 50%;
  margin-left: -5.175px;
  background: lightgreen;
  transform-style: preserve-3d;
  -webkit-animation: head 1.6s infinite linear;
  animation: head 1.6s infinite linear;
}
/* line 72, ../scss/style.scss */
.body .torso {
  margin-top: 54.35px;
  z-index: 5;
}
/* line 77, ../scss/style.scss */
.body .torso .neck {
  height: 13.5135px;
  width: 29.7px;
  margin-left: 12.15px;
  background: lightgreen;
}
/* line 85, ../scss/style.scss */
.body .torso .t--torso {
  height: 140.9265px;
  width: 54px;
  background: lightblue;
}
/* line 92, ../scss/style.scss */
.body .torso .hip {
  height: 38.61px;
  width: 54px;
  border-radius: 0px 0px 27px 27px;
  background: linear-gradient(lightblue, lightblue 50%, lightgrey 50%, lightgrey);
}
/* line 101, ../scss/style.scss */
.body .arm {
  margin-top: 80.10674px;
  margin-left: 13.5px;
}
/* line 106, ../scss/style.scss */
.body .arm .upper,
.body .arm .lower {
  background: #86c5da;
}
/* line 111, ../scss/style.scss */
.body .arm .upper {
  height: 86.0625px;
  width: 27px;
  border-radius: 10.8px;
}
/* line 118, ../scss/style.scss */
.body .arm .lower {
  height: 86.0625px;
  width: 27px;
  margin-top: -15px;
  border-radius: 10.8px;
}
/* line 126, ../scss/style.scss */
.body .arm .hand {
  height: 28.35px;
  width: 28.35px;
  position: absolute;
  margin-top: 86.0625px;
  border-radius: 50%;
  background: lightgreen;
}
/* line 137, ../scss/style.scss */
.body .arm--r {
  z-index: 10;
  -webkit-animation: arm 1.6s -0.8s infinite linear;
  animation: arm 1.6s -0.8s infinite linear;
}
/* line 142, ../scss/style.scss */
.body .arm--r .lower {
  -webkit-animation: arm--lower 1.6s -0.8s infinite linear;
  animation: arm--lower 1.6s -0.8s infinite linear;
}
/* line 147, ../scss/style.scss */
.body .arm--l {
  -webkit-animation: arm 1.6s infinite linear;
  animation: arm 1.6s infinite linear;
}
/* line 150, ../scss/style.scss */
.body .arm--l .upper,
.body .arm--l .lower {
  background: #5fb3ce;
}
/* line 155, ../scss/style.scss */
.body .arm--l .lower {
  -webkit-animation: arm--lower 1.6s infinite linear;
  animation: arm--lower 1.6s infinite linear;
}
/* line 160, ../scss/style.scss */
.body .leg {
  margin-top: 222.4px;
}
/* line 163, ../scss/style.scss */
.body .leg .upper,
.body .leg .lower {
  width: 43.2px;
  margin-left: 5.4px;
  background: lightgrey;
}
/* line 171, ../scss/style.scss */
.body .leg .upper {
  height: 95.55975px;
  border-radius: 0px 0px 21.6px 21.6px;
}
/* line 176, ../scss/style.scss */
.body .leg .lower {
  height: 87.83775px;
  margin-top: -21.6px;
  border-radius: 21.6px 21.6px 0px 0px;
}
/* line 182, ../scss/style.scss */
.body .leg .foot {
  height: 27.027px;
  width: 43.2px;
  position: absolute;
  margin-top: 72.83775px;
  background: darkgrey;
}
/* line 190, ../scss/style.scss */
.body .leg .foot:after {
  content: "";
  width: 0px;
  height: 13.5135px;
  position: absolute;
  margin-left: 41.2px;
  border-top: 13.5135px solid transparent;
  border-left: 27.027px solid darkgrey;
}
/* line 203, ../scss/style.scss */
.body .leg--l {
  -webkit-animation: leg 1.6s -0.8s infinite linear;
  animation: leg 1.6s -0.8s infinite linear;
}
/* line 206, ../scss/style.scss */
.body .leg--l .upper,
.body .leg--l .lower {
  background: #b9b9b9;
}
/* line 212, ../scss/style.scss */
.body .leg--l .lower {
  -webkit-animation: leg--lower 1.6s -0.8s infinite linear;
  animation: leg--lower 1.6s -0.8s infinite linear;
}
/* line 216, ../scss/style.scss */
.body .leg--l .foot {
  background: #8f8f8f;
  -webkit-animation: foot 1.6s -0.8s infinite linear;
  animation: foot 1.6s -0.8s infinite linear;
}
/* line 221, ../scss/style.scss */
.body .leg--l .foot:after {
  border-left: 29.7297px solid #8f8f8f;
}
/* line 228, ../scss/style.scss */
.body .leg--r {
  -webkit-animation: leg 1.6s infinite linear;
  animation: leg 1.6s infinite linear;
}
/* line 231, ../scss/style.scss */
.body .leg--r .lower {
  -webkit-animation: leg--lower 1.6s infinite linear;
  animation: leg--lower 1.6s infinite linear;
}
/* line 235, ../scss/style.scss */
.body .leg--r .foot {
  -webkit-animation: foot 1.6s infinite linear;
  animation: foot 1.6s infinite linear;
}

/* line 242, ../scss/style.scss */
hr {
  margin-top: -80px;
}

/* ============================================== *\
					Animations
			(let the magic numbers begin)
\* ============================================== */
@keyframes body {
  0%, 100% {
    transform: translateY(12px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(0px);
  }
}
@keyframes leg {
  0%, 100% {
    transform: rotateZ(-40deg);
  }
  15% {
    transform: rotateZ(-18deg);
  }
  50% {
    transform: rotateZ(40deg);
  }
  75% {
    transform: rotateZ(-25deg);
  }
  80% {
    transform: rotateZ(-40deg);
  }
}
@keyframes leg--lower {
  0%, 100% {
    transform: rotateZ(5deg);
  }
  15% {
    transform: rotateZ(20deg);
  }
  35% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(100deg);
  }
  90% {
    transform: rotateZ(55deg);
  }
}
@keyframes foot {
  0%, 100% {
    transform: rotateZ(5deg);
  }
  15% {
    transform: rotateZ(0deg);
  }
  35% {
    transform: rotateZ(-14deg);
  }
  50% {
    transform: rotateZ(-18deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  90% {
    transform: rotateZ(-10deg);
  }
}
@keyframes arm {
  0%, 100% {
    transform: rotateZ(-25deg);
  }
  50% {
    transform: rotateZ(25deg);
  }
}
@keyframes arm--lower {
  0%, 100% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
}
@keyframes head {
  0%, 100% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(2px);
  }
}
