// TODO: Schatten


// -- Modules

@import "variables";
@import "mixins";


// -- Third Party Stuff

@import "_normalize";
@import "compass/css3/transform";


// ==================== Body Setup ==========================

body {
	font-family: $mainfont;
	font-weight: 400;
	font-size: $fontsize;
	line-height: $lineheight;
}

a {
	text-decoration: none;
}

.body {
	height: $bodyheight;
	width: $bodyheight * 0.25;
	margin: 25px auto;

	transform-style: preserve-3d;

	@include animation('body #{$duration} infinite linear');
	
	.head,
	.arm,
	.torso,
	.leg
	{
		position: absolute;
	}

	.leg,
	.arm,
	.upper,
	.lower,
	.hand
	{
		-webkit-transform-origin: top;
				transform-origin: top;
	}

	.head {
		height: $headsize;
		width: $headsize;
		z-index: 9;
		border-radius: 50%;
		margin-left: -$bodymargin;

		background: $headcolor;

		transform-style: preserve-3d;
		
		@include animation('head #{$duration} infinite linear');
	}

	.torso {

		margin-top: $headsize - 10px;
		z-index: 5;

		.neck {
			height: $torsoheight--neck;
			width: $bodywidth * 0.55;
			margin-left: $bodywidth * 0.225;

			background: $headcolor;
		}

		.t--torso {
			height: $torsoheight--torso;
			width: $bodywidth;
			
			background: $torsocolor;
		}

		.hip {
			height: $torsoheight--hip;
			width: $bodywidth;
			border-radius: 0px 0px $bodywidth * 0.5 $bodywidth * 0.5;
			
			background: linear-gradient($torsocolor, $torsocolor 50%, $legcolor 50%, $legcolor);
		}
	}

	.arm {

		margin-top: $headsize + $torsoheight--neck + ($torsoheight--neck * 0.166);
		margin-left: $bodywidth * 0.25;

		.upper,
		.lower {
			background: $armcolor;
		}
		
		.upper {
			height: $armheight--upper;
			width: $bodywidth * 0.5;
			
			border-radius: $bodywidth * 0.2;
		}
		
		.lower {
			height: $armheight--lower;
			width: $bodywidth * 0.5;
			margin-top: -15px;
			
			border-radius: $bodywidth*0.2;
		}
		
		.hand {
			height: $handheight;
			width: $handheight;
			position: absolute;
			margin-top: $armheight--lower;

			border-radius: 50%;
			background: $headcolor;
		}
	}

	.arm--r {
		z-index: 10;

		@include animation('arm #{$duration} #{-$duration/2} infinite linear');

		.lower {
			@include animation('arm--lower #{$duration} #{-$duration/2} infinite linear');
		}
	}

	.arm--l {
		@include animation('arm #{$duration} infinite linear');

		.upper,
		.lower {
			background: darken($armcolor, 10%);
		}

		.lower {
			@include animation('arm--lower #{$duration} infinite linear');
		}
	}

	.leg {
		margin-top: $headsize + $torsoheight - 35px;
		
		.upper,
		.lower
		{
			width: $bodywidth * 0.8;
			margin-left: $bodywidth * 0.1;
			background: $legcolor;
		}

		.upper {
			height: $legheight--upper;
			border-radius: 0px 0px $bodywidth * 0.4 $bodywidth * 0.4;
		}
		
		.lower {
			height: $legheight--lower;
			margin-top: -($bodywidth * 0.4);
			border-radius: $bodywidth * 0.4 $bodywidth * 0.4 0px 0px;
		}
		
		.foot {
			height: $footheight;
			width: $bodywidth * 0.8;
			position: absolute;
			margin-top: $legheight--lower - 15px;

			background: $footcolor;

			&:after {
				content: "";
				width: 0px;
				height: $footheight * 0.5;
				position: absolute;
				margin-left: ($bodywidth * 0.8) - 2px;

				border-top: $footheight*0.5 solid transparent;
				border-left: $footheight solid $footcolor;
			}
		}
	}

	.leg--l {
		@include animation('leg #{$duration} #{-$duration/2} infinite linear');

		.upper,
		.lower
		{
			background: darken($legcolor, 10%);
		}

		.lower {
			@include animation('leg--lower #{$duration} #{-$duration/2} infinite linear'); 
		}

		.foot {
			background: darken($footcolor, 10%);

			@include animation('foot #{$duration} #{-$duration/2} infinite linear');

			&:after {
				border-left: $footheight*1.1 solid darken($footcolor, 10%);
			}
		}

	}

	.leg--r {
		@include animation('leg #{$duration} infinite linear');

		.lower {
			@include animation('leg--lower #{$duration} infinite linear'); 
		}

		.foot {
			@include animation('foot #{$duration} infinite linear');
		}
	}

}

hr {
	margin-top: -80px;
}


/* ============================================== *\
					Animations
			(let the magic numbers begin)
\* ============================================== */

// Body
@keyframes body {
	0%, 100% {transform: translateY(12px);}
	25%		 {transform: translateY(0px);}
	50% 	 {transform: translateY(12px);}
	75%		 {transform: translateY(0px);}
}


// Legs
@keyframes leg {
	0%, 100% {transform: rotateZ(-40deg)}
	15%		 {transform: rotateZ(-18deg)}
	50% 	 {transform: rotateZ(40deg)}
	75%		 {transform: rotateZ(-25deg)}
	80%		 {transform: rotateZ(-40deg)}
}

@keyframes leg--lower {
	0%, 100% {transform: rotateZ(5deg)} // front
	15%		 {transform: rotateZ(20deg)}
	35%      {transform: rotateZ(0deg)}
	50% 	 {transform: rotateZ(5deg)} // back
	75%		 {transform: rotateZ(100deg)}
	90%		 {transform: rotateZ(55deg)}
}

@keyframes foot {
	0%, 100% {transform: rotateZ(5deg)}
	15%		 {transform: rotateZ(0deg)}
	35%		 {transform: rotateZ(-14deg)}
	50%		 {transform: rotateZ(-18deg)}
	75%		 {transform: rotateZ(10deg)}
	90%		 {transform: rotateZ(-10deg)}
}


// Arms
@keyframes arm {
	0%, 100% {transform: rotateZ(-25deg)}
	50% 	 {transform: rotateZ(25deg)}
}

@keyframes arm--lower {
	0%, 100% {transform: rotateZ(-15deg)}
	50% 	 {transform: rotateZ(0deg)}
}


// head
@keyframes head {
	0%, 100% {transform: translateY(0px)}
	10%		 {transform: translateY(2px)}
	50% 	 {transform: translateY(0px)}
	60%		 {transform: translateY(2px)}
}
