// -- Modules

@import "variables";
@import "mixins";


// -- Third Party Stuff

@import "_normalize";
@import "compass/css3/transform";


// ==================== Body Setup ==========================

body {
	font-family: $mainfont;
	font-weight: 400;
	font-size: $fontsize;
	line-height: $lineheight;
}

a {
	text-decoration: none;
}

.body {
	height: $bodyheight;
	width: $bodyheight/4;

	margin: 25px auto;
	
	.head,
	.arm,
	.torso,
	.leg
	{
		position: absolute;
	}

	.upper,
	.lower,
	.hand
	{
		-webkit-transform-origin: top;
				transform-origin: top;
	}

	.head {
		height: $headsize;
		width: $headsize;
		z-index: 9;
		border-radius: 50%;
		margin-left: -$bodymargin;

		background: $headcolor;
		
	}

	.torso {

		margin-top: $headsize - 10px;

		.neck {
			height: $torsoheight--neck;
			width: $bodywidth * 0.55;
			margin-left: $bodywidth * 0.225;

			background: $headcolor;
		}

		.t--torso {
			height: $torsoheight--torso;
			width: $bodywidth;
			
			background: $torsocolor;
		}

		.hip {
			height: $torsoheight--hip;
			width: $bodywidth;
			
			background: linear-gradient($torsocolor, $torsocolor 50%, $legcolor 50%, $legcolor);
		}
	}

	.arm {

		margin-top: $headsize + $torsoheight--neck + ($torsoheight--neck / 6);
		margin-left: $bodywidth / 4;

		.upper,
		.lower {
			background: $armcolor;
		}
		
		.upper {
			height: $armheight--upper;
			width: $bodywidth / 2;
		}
		
		.lower {
			height: $armheight--lower;
			width: $bodywidth / 2;

			margin-top: -15px;
		}
		
		.hand {
			height: $handheight;
			width: $handheight;

			border-radius: 50%;
			background: $headcolor;
		}
	}

	.arm--r {
		z-index: 10;

		.upper,
		.lower {
			background: darken($armcolor, 10%);
		}
	}

	.leg {
		margin-top: $headsize + $torsoheight - 25px;
		
		.upper,
		.lower
		{
			background: $legcolor;
			width: $bodywidth * 0.8;
			margin-left: $bodywidth * 0.1;
		}

		.upper {
			height: $legheight--upper;
		}
		
		.lower {
			height: $legheight--lower;

			margin-top: -15px;
		}
		
		.foot {
			height: $footheight;
			width: $bodywidth * 1.25;
			margin-top: -15px;
			margin-left: $bodywidth * 0.1;

			background: $footcolor;
		}
	}

	.leg--l {

		.upper,
		.lower
		{
			background: darken($legcolor, 10%);
		}

		.foot {
			background: darken($footcolor, 10%);
		}

	}

	.leg--r {
		
		.upper {
			@include animation('leg--upper 3.72s infinite linear');
		}

		.lower {
			@include animation('leg--lower 3.72s infinite linear');
		}

		.foot {
			@include animation('leg--foot 3.72s infinite linear');
		}
	}

}


// ==================== Animations ==========================

@-webkit-keyframes leg--upper {
	@include keyframes(-20deg, 0px, 0px, -42deg, 0px, 0px, -47deg, 0px, 0px, -29deg, 0px, 0px, 5deg, 0px, 0px, 20deg, 0px, 0px, 36deg, 0px, 0px, 20deg, 0px, 0px)
}

@-webkit-keyframes leg--lower {
	@include keyframes(55deg, 9px, -43px, 38deg, 26px, -68px, -47deg, 57px, 30px, 3deg, 41px, -11px, 5deg, -7px, 4px, 20deg, -27px, 13px, 36deg, -46px, 18px, 40deg, -21px, 13px)
}

@-webkit-keyframes leg--foot {
	@include keyframes(55deg, -62px, 22px, 38deg, -29px, -30px, -47deg, 130px, 61px, 0deg, 37px, 0px, 0deg, -15px, 11px, 13deg, -60px, 13px, 33deg, -100px, 47px, 51deg, -72px, 66px)
}


