$mainfont: 'Lato', sans-serif;
$fontsize: 1rem;
$lineheight: #{1.25*$fontsize};

// main colors
$lightgrey: #F6FBFC;

// social colors 
$mail: #db4a39;
$linkedin: #0e76a8;
$xing: #126567;
$twitter: #00a0d1;
$codepen: #000000;
$vimeo: #44bbff;
$dribbble: #ea4c89;